.calculationsDivs {
  border-radius: 15px;
  background-color: var(--green);
  color: var(--gris);
  font-size: 15px;
  box-shadow: 1px 1px 20px var(--grisClaro);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  #calculationsDivsValues {
    display: flex;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      span {
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.1rem;
        font-weight: 700;
      }
    }
  }
  h4 {
    font-size: 15px;
    font-weight: 400;
  }
}
